@import '../../variables';

.header-movie-detail {
    height: 450px;

    .header-context {

        .back-to-search-btn {
            font-size: 13px;
            position: absolute;
            right: 50px;
            top: 10px;
            padding: 4px 15px;
            background-color: $hex-2;
            border: none;
            color: $hex-3;
            font-weight: bold;
            text-transform: uppercase;
        }

        .description-container {
            display: flex;

            .image {
                float: left;
                height: 340px;
            }

            .description {
                float: left;
                padding: 50px 100px;
                color: $hex-2;

                .title {
                    font-size: 25px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }

                .subtitle {
                    margin: 10px 0;
                    text-transform: none;
                    font-size: 14px;
                }

                .sub-description {
                    display: flex;

                    .year,
                    .duration {
                        font-weight: bold;
                        font-size: 14px;
                        margin-right: 30px;
                    }
                }

                .overview {
                    margin-top: 35px;
                }
            }
        }
    }
}